<!-- app/views/chat_rooms/show.html.erb -->
<div id="msgs">
  <%= render @chat_room.msgs %>
</div>

<%= form_for [@chat_room, Msg.new], local: true do |form| %>
  <%= form.text_field :body %>
  <%= form.submit 'Send', data: {disable_with: false} %>
<% end %>

<%= javascript_tag do %>
  document.getElementById('new_msg').addEventListener('submit', function(e){
    e.preventDefault()
    const data = new FormData(e.currentTarget)
    const body = data.get('msg[body]')
    const chat_room_id = <%= @chat_room.id %>
    App.chat_room.send({body, chat_room_id})
  })
  App.chat_room = App.cable.subscriptions.create({
    channel: 'ChatRoomChannel',
    id: '<%= @chat_room.id %>'
    }, {
    connected: function() {console.log('connected to chat room')},
    disconnected: function() {console.log('disconnected from chat room')},
    received: function(data) {
      document.getElementById('msgs').innerHTML += data.msg;
    }
  });
<% end %>
