<!-- app/views/chats/show.html.erb -->
<h1>Chat room: <%= @chat.room %></h1>

<div id="messages">
  <%= render @chat.messages %>
</div>

<%= form_tag '/messages', method: 'post' do %>
  <%= text_area_tag :body, nil, id: 'message_body' %>
  <%= submit_tag 'Send' %>
<% end %>

<script>
  App.chat = App.cable.subscriptions.create({ channel: "ChatChannel", room: "<%= @chat.room %>" }, {
    connected: function() {
      // Called when the subscription is ready for use on the server
    },

    disconnected: function() {
      // Called when the subscription has been terminated by the server
    },

    received: function(data) {
      $("#messages").append("<p>" + data.message + "</p>");
    },

    speak: function(message) {
      return this.perform('speak', {
        message: message
      });
    }
  });

  $(document).on('submit', 'form', function(e) {
    e.preventDefault();
    App.chat.speak($('#message_body').val());
    $('#message_body').val('');
  });
</script>