<% @posts.each do |post| %>
  <div class="post-container">
    <div class="post">
      <div class="user-avatar">
        <%= image_tag post.user.profile_image.url(:thumb), alt: "User Avatar" %>   
        <%= post.user.first_name %>  <%= post.user.last_name%>
      </div>
      <div class="post-images">
        <% if post.images %>
            <% post.images.each do |image| %>
              <%= image_tag image.image_url, class: "post-image" %>
            <% end %>
        <% end %>
      </div>
      <h2 class="post-title"><%= post.title %></h2>
      <p class="post-body"><%= post.body %></p>
      <% if @chat_room.blank? %>
        <% @chat_room = ChatRoom.create(user_one_id: post.user.id) %>
      <% end %>
      </div>
  </div>
<% end %>
